body {
	height: 100vh;
	width: 100vw;
	position: relative;
	margin: 0;
	font-family: 'Bitter', serif;
	user-select: none;
}

h1 {
	text-align: center;
	font-weight: 800;
}

h2 {
	font-size: 1.2em;
	display: block;
	width: 100%;
	color: #fff;
	border-bottom: 3px #fff solid;
	padding-bottom: 5px;
}

.game__info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 3px black solid;
	border-bottom: 3px black solid;
	padding: 10px 0px;
}

.game__info .game__bet {
	width: 220px;
}

.game__info .game__bet p:nth-of-type(1) {
	font-size: 20px;
	display: inline;
}

.game__info .game__bet p:nth-of-type(2) {
	font-size: 20px;
	display: inline;
	font-weight: bold;
}

.game__info .multiplier {
	width: 230px;
}

.game__info .multiplier p:nth-of-type(1){
	display: inline;
	font-size: 20px;
}

.game__info .multiplier p:nth-of-type(2){
	display: inline;
	font-size: 20px;
	font-weight: bold;
}

.points div p{
	/* padding-top: 5px; */
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	margin: 0 0 2px;
}

.blackJack {
	width: 800px;
	margin: 20px auto;
	position: relative;
}

.table {
	max-width: 40vw;
	background-color: green;
	padding: 65px 100px 65px 100px;
	border-radius: 100px;
	border: 3px black solid;
	margin: 50px auto;
}

.playerCards,
.dealerCards {
	display: flex;
	margin-bottom: 30px;
	min-height: 110px;
}

.contener {
	position: relative;
	width: 50px;
	padding: 65px 20px;	
	margin-right: 20px;
}

.card {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0.2em 0.2em 0.5em #333;
	transform-style:preserve-3d;
	border-radius: 7px;
	transition: .3s;
	cursor: pointer;
}

.frontCard {
	display: flex;
	font-weight: bold;
	justify-content: center;
	align-items: center;
  position:absolute;
	background-color: #fff;
  width:100%;
  height:100%;
	border-radius: 7px;
  backface-visibility:hidden;
}

.backCard {
  width:100%;
  height:100%;
	border-radius: 7px;
  color:#FFF;
  background-color:#000;
	background-image: url("./assets/cardBackground.jpg");
	background-size: contain;
  transform:rotateY(180deg);
  backface-visibility:hidden;
}

.reverse {
	transform: rotateY(180deg);
}

.frontCard span {
	display: flex;
	position: absolute;
	font-size: 17px;
}

.frontCard span:nth-of-type(1) {
	top: 5%;
	left: 10%;
}

.frontCard span:nth-of-type(2) {
	justify-content: flex-end;
	top: 5%;
	right: 10%;
}

.frontCard span:nth-of-type(3) {
	bottom:5%;
	left: 10%;
}

.frontCard span:nth-of-type(4) {
	justify-content: flex-end;
	bottom: 5%;
	right: 10%;
}

.frontCard span img {
	width: 40%;
	height: 40%;
}

.hearts,
.diamonds {
	color: #ff0000;
}

.spades,
.clubs {
	color: #000;
}

.message {
	z-index: 9999;
	position: absolute;
	top: 300px;
	width: 100%;
	padding: 50px 0;
	background-color: rgba(255, 255, 255, 0.85);
	font-size: 3.5em;
	font-weight: bold;
	text-align: center;
	-webkit-box-shadow: -1px 14px 73px -22px rgba(0, 0, 0, 0.56);
	-moz-box-shadow: -1px 14px 73px -22px rgba(0, 0, 0, 0.56);
	box-shadow: -1px 14px 73px -22px rgba(0, 0, 0, 0.56);
}

.buttons {
	padding-top: 50px;
	text-align: center;
}
.buttons button {
	padding: 10px 30px;
	border-radius: 30px;
	background: #000;
	color: #fff;
	margin: 0 50px;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

.bet {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	height: 35%;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), -1px -1px 3px rgba(0, 0, 0, 0.7);
}

.bet label {
	text-align: center;
	height: 40%;
}

.bet label p {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.bet label input {
	width: 45%;
	font-size: 35px;
	padding: 5px 5px;
	border: 1px solid black;
	border-radius: 10px;
	outline: none;
	text-align: center;
}

.bet label input::placeholder {
	font-size: 15px;
}

.bet label .playerCash {
	margin-top: 3px;
	font-size: 15px;
	color: red;
}

.bet button {
	font-size: 30px;
	margin-top: 30px;
	padding: 5px 30px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0);
	color: white;
	cursor: pointer;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
	transition: 0.1s;
}

.bet button:hover {
	background-color: #333;
}

.bet .text {
	width: 100%;
	height: 10%;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	font-size: 13px;
}

.hide {
	display: none;
}
